<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li class="underline-this-hover"><b><a href="">CSS</a></b></li>
      <li class="underline-this-hover"><a href="">HTML</a></li>
      <li class="underline-this-hover"><a href="">Javascript</a></li>
      <li class="underline-this-hover"><a href="">Ruby</a></li>
    </ul>
  </nav>
  <br>
  <img src="assets/AA_Times_Logo.png" alt="AA_Times_Logo" class="logo">
  <br>
  <nav>
    <ul class="masthead-links">
      <li><time>Thursday, October 3, 2019</time></li>
      <li><button class="underline-this-hover"><i class="far fa-newspaper"></i>Today's Paper</button></li>
      <li><button class="underline-this-hover"><i class="fas fa-video"></i>Video</button></li>
      <li><button>77°F</button></li>
      <li><button>AAO <strong>+100%</strong></button></li>
    </ul>
  </nav>
</header>